[Unit]
Description=prevent screen tearing on Xfce with nvidia GPU

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStart=/usr/bin/nvidia-settings --assign CurrentMetaMode="nvidia-auto-select +0+0 { ForceFullCompositionPipeline = On }"
RemainAfterExit=1

[Install]
WantedBy=default.target
