[Unit]
Description=update pip packages

[Timer]
OnCalendar=daily
#AccuracySec=15min
RandomizedDelaySec=15min
Persistent=true

[Install]
WantedBy=timers.target
