[Unit]
Description=display color temperature adjustment
Documentation=http://jonls.dk/redshift/
After=graphical.target

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/redshift
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
